.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  .dice {
    text-align: center;
    display: inline-block;
  }
#btn{
font-family: Prata;
font-weight: 100;
font-size: 16px;
color: #fff;
background: linear-gradient(142deg, #0d0d0d 0%, #eadfb4 100%);
padding: 10px 30px;
border: 2px solid #0066cc;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 20px;
transition : 1167ms;
transform: translateY(0);
display: flex;
justify-content: center;
margin-left: 45%;
cursor: pointer;
}
#btn:hover{
transition : 1167ms;
padding: 10px 50px;
transform : translateY(-0px);
background: linear-gradient(142deg, #0d0d0d 0%, #eadfb4 100%);
color: #ffffff;
border: solid 2px #0066cc;
}
body {
    background-color: #EADFB4;
  }
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    color: #222831;
  }
  p {
    font-size: 2rem;
    color: #222831;
    font-family: 'Indie Flower', cursive;
  }
  img {
    width: 80%;
  }
  .score{
    display: flex;
    flex-direction: row;
  }
  .py1{

    display: flex;
    flex-direction: column;
  }
  .py2{
    display: flex;
    flex-direction: column;
  }
  .bottom{
    display: flex;
    justify-content: center;
    margin: 5rem;
  }
  table{
    width: 30%;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    color: #000000;
    background-color: #ffffff;
  }
 